groups:
- name: Down
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 3m
    labels:
      severity: 'critical'
    annotations:
      summary: "Instance  is down"
      description: " of job  has been down for more than 3 minutes."

  - alert: GettingOutOfMemory
    expr: max(sum by(instance) ((((node_memory_MemTotal_bytes) - (node_memory_MemFree_bytes + node_memory_Buffers_bytes + node_memory_Cached_bytes)) / (node_memory_MemTotal_bytes)) * 100)) >=2
    for: 1m
    labels:
      severity: warning
    annotations:
       description: Docker Swarm node {{ $labels.instance }} memory usage is at {{ humanize $value}}%.
       summary: Memory is getting low for Swarm node '{{ $labels.node_name }}'
