---
- name: Unarchive artifact.tar.gz to EC2
  unarchive:
    src: /workspace/project
    dest: /workspace/project
    remote_src: True

- name: npm install and start
  shell: |
    cd /workspace/project/backend
    npm install
    pm2 stop default
    pm2 start npm -- start