---

- name: create folders
  become: true
  shell: |
    cd /home/{{ ansible_user }}
    mkdir compressed
    mkdir extracted
    ls

- name: Copy files before extracting
  copy:
    src: "/tmp/artifact.tar.gz"
    dest: "/home/{{ ansible_user }}/compressed"

- name: Extract found files into destination
  unarchive:
    src: "/home/{{ ansible_user }}/compressed/artifact.tar.gz"
    dest: "/home/{{ ansible_user }}/extracted"
    remote_src: yes

- name: npm install and start
  become: true
  shell: |
    cd /home/{{ ansible_user }}/extracted
    ls
    
    # npm install
    # pm2 stop default
    # pm2 start npm -- start